/**
* Blue Theme Styles
*
* @package ***Theme Name***
* @author Jacob Martella
* @version 1.0
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";

$light-blue: #DCEAF5;
$medium-blue: #86A5D6;
$dark-blue: #4B53AF;
$deep-blue: #02024B;