/**
* Footer Styles
*
* @package Quotidiano
* @author Jacob Martella
* @version 0.1-alpha
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";


.footer {
	background-color: $off-black;
	color: $off-white;
	text-align: center;
	padding: 5px 0;
	#inner-footer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		p {
			@include cutive(16px, 300, $off-white, none);
			margin-bottom: 0;
		}
	}
}

.footer a, .footer a:link, .footer a:visited {
	color: $off-white;
}

.footer a:hover {
	color: $medium-grey;
}
@include breakpoint(small only) {
	.footer {
		#inner-footer {
			p {
				font-size: 14px;
			}
		}
	}
}