/**
* Green Theme Styles
*
* @package ***Theme Name***
* @author Jacob Martella
* @version 1.0
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";

$light-green: #E0F5DC;
$medium-green: #86D690;
$dark-green: #4DAF4B;
$deep-green: #024B19;
