/**
* Header Styles
*
* @package ***Theme Name***
* @author Jacob Martella
* @version 1.0
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";
/**
***************** A. Top Menu ************************ 
*/
.header {
	background-color: rgba($qblack, .5);
	height: 50px;
	padding: 0 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	.top-bar {
		background-color: transparent;
		padding: 0;
		.site-title {
			float: left;
			margin-top: 12px;
			@include cutive(24px, 400, $off-white, none);
			a {
				color: $off-white;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.menu.dropdown {
			background-color: transparent;
			margin-top: 9px;
			li {
				a {
					@include cutive(16px, 400, $off-white, none);
					border-bottom: 3px solid transparent;
					&:hover {
						color: $off-white;
					}
					&:after {
						content: '';
						display: none !important;
					}
				}
				&:hover {
					a {
						color: $off-white;
						border-bottom: 3px solid $off-white;
					}
					ul {
						li {
							a {
								border-bottom: 0;
							}
						}
					}
				}
				&.current-item {
					a {
						color: $off-white;
						border-bottom: 3px solid $off-white;
					}
					ul {
						li {
							a {
								border-bottom: 0;
							}
						}
					}
				}
				.submenu {
					background-color: rgba($qblack, .5);
					border: 0;
					li {
						a {
							color: $off-white;
							&:hover {
								color: $light-grey;
							}
						}
					}
				}
			}
		}
		.menu-icon {
			border: 0px;
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
		}
	}
}
/**
***************** B. Header ************************ 
*/

/**
***************** C. Main Menu ************************ 
*/