/**
* Header Styles
*
* @package Quotidiano
* @author Jacob Martella
* @version 1.0
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";
/**
***************** A. Top Menu ************************ 
*/
.header {
	background-color: rgba($qblack, .5);
	height: 50px;
	padding: 0 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	.top-bar {
		background-color: transparent;
		padding: 0;
		.site-title {
			float: left;
			margin-top: 12px;
			@include cutive(24px, 400, $off-white, none);
			a {
				color: $off-white;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.menu.dropdown {
			background-color: transparent;
			margin-top: 9px;
			li {
				a {
					@include cutive(16px, 400, $off-white, none);
					border-bottom: 3px solid transparent;
					&:hover {
						color: $off-white;
					}
					&:after {
						content: '';
						display: none !important;
					}
				}
				&:hover {
					a {
						color: $off-white;
						border-bottom: 3px solid $off-white;
					}
					ul {
						li {
							a {
								border-bottom: 0;
							}
						}
					}
				}
				&.current-item {
					a {
						color: $off-white;
						border-bottom: 3px solid $off-white;
					}
					ul {
						li {
							a {
								border-bottom: 0;
							}
						}
					}
				}
				.submenu {
					background-color: rgba($qblack, .5);
					border: 0;
					li {
						a {
							color: $off-white;
							&:hover {
								color: $light-grey;
							}
						}
					}
				}
			}
		}
		.menu-icon {
			border: 0px;
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
		}
	}
}
/**
***************** B. Home Page Header ************************
*/
.page-home-header {
	width: 100%;
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: $dark-grey;
	&:after {
		padding-top: 39.10%;
		display: block;
		content: '';
	}
	.wp-custom-header {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.wp-custom-header-video-button {
			position: absolute;
			top: 60%;
			z-index: 9;
			right: 2%;
			background-color: rgba($off-black, .5);
			border-radius: 2px;
			&:hover {
				background-color: rgba($off-black, .8);
			}
		}
	}
	.header-video-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.wp-custom-header {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 56.25%;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
	.page-header-text-outer {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($qblack, .5);
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		.page-header-title {
			border: 5px solid $off-white;
			@include roboto(50px, 700, $off-white, uppercase);
			display: inline-block;
			margin-bottom: 30px;
			padding: 0 10px;
		}
		.page-header-description {
			@include cutive(40px, 400, $off-white, none);
		}
	}
}
.social-media {
	background-color: $off-black;
	height: 40px;
	padding: 5px 0;
	position: relative;
	margin-top: -7px;
	text-align: center;
	.social-links-inner {
		width: auto;
		position: relative;
		margin: auto;
		display: inline-block;
		.quotidiano-social-link {
			display: block;
			float: left;
			height: 30px;
			width: 30px;
			margin-right: 5px;
			overflow: hidden;
			img {
				width: 30px;
				height: auto;
			}
			&#quotidiano-facebook-link {
				background-color: #3B5998;
			}
			&#quotidiano-twitter-link {
				background-color: #29A7DF;
			}
			&#quotidiano-instagram-link {
				background-color: #326699;
			}
			&#quotidiano-tumblr-link {
				background-color: #44546B;
			}
			&#quotidiano-youtube-link {
				background-color: #CD332C;
			}
			&#quotidiano-pinterest-link {
				background-color: #CA2128;
			}
			&#quotidiano-google-plus-link {
				background-color: #CC3731;
			}
			&#quotidiano-linkedin-link {
				background-color: #027BB5;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@include breakpoint(medium only) {
	.header {
		.top-bar {
			.site-title {
				@include cutive(18px, 400, $off-white, none);
				margin-top: 15px;
			}
			ul {
				background-color: transparent;
				li {
					button {
						padding: 0;
						margin-top: 16px;
					}
				}
			}
		}
	}
	.page-home-header {
		.page-header-text-outer {
			.page-header-title {
				@include roboto(40px, 700, $off-white, uppercase);
				margin-bottom: 20px;
			}
			.page-header-description {
				@include cutive(30px, 400, $off-white, none);
			}
		}
	}
}

@include breakpoint(small only) {
	.header {
		background-color: $qblack;
		position: relative;
		.top-bar {
			.site-title {
				@include cutive(18px, 400, $off-white, none);
				margin-top: 15px;
			}
			ul {
				background-color: transparent;
				li {
					button {
						padding: 0;
						margin-top: 16px;
					}
				}
			}
		}
	}
	.page-home-header {
		.page-header-text-outer {
			.page-header-title {
				@include roboto(30px, 700, $off-white, uppercase);
				margin-bottom: 10px;
			}
			.page-header-description {
				@include cutive(20px, 400, $off-white, none);
			}
		}
	}
}