/**
* Page Styles
*
* @package Quotidiano
* @author Jacob Martella
* @version 0.1-alpha
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";

.single-page {
  .social-media {
    display: none;
  }
  .post-header {
    color: $off-white;
    text-align: center;
    width: 100%;
    display: inline-block;
    position: relative;
    &:after {
      padding-top: 39.10%;
      display: block;
      content: '';
    }
    .post-header-text-outer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($qblack, .5);
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      .single-post-header-date {
        @include roboto(50px, 700, $off-white, uppercase);
        border: 5px solid $off-white;
        display: inline-block;
        margin-bottom: 30px;
        padding: 0 10px;
      }
      .single-post-header-title {
        @include cutive(40px, 400, $off-white, none);
      }
    }
  }
  .single-post-social-media-links {
    background-color: $off-black;
    height: 40px;
    padding: 5px 0;
    position: relative;
    margin-top: -7px;
    text-align: center;
    .social-links-inner {
      width: auto;
      position: relative;
      margin: auto;
      display: inline-block;
      .quotidiano-social-link {
        display: flex;
        justify-content: center;
        flex-direction: column;
        float: left;
        text-align: left;
        height: 30px;
        width: 30px;
        padding-top: 3px;
        -webkit-transition: width 100ms;
        transition: width 100ms;
        margin-right: 5px;
        overflow: hidden;
        img {
          width: 30px;
          height: auto;
          margin-top: -6px;
        }
        .social-link-title {
          display: none;
          /*-webkit-transition: anim 200ms;
          transition: anim 200ms;*/
          @include cutive(16px, 400, $off-white, none);
          padding: 0 3px;
          opacity: 0;
          -webkit-animation: fadeInFromNone 0.5s ease-out;
          -moz-animation: fadeInFromNone 0.5s ease-out;
          -o-animation: fadeInFromNone 0.5s ease-out;
          animation: fadeInFromNone 0.5s ease-out;
        }
        &:hover {
          width: 139px;
          .social-link-title {
            display: inline;
            opacity: 1;

          }
        }
        &#quotidiano-facebook-link {
          background-color: #3B5998;
        }
        &#quotidiano-twitter-link {
          background-color: #29A7DF;
        }
        &#quotidiano-instagram-link {
          background-color: #326699;
        }
        &#quotidiano-tumblr-link {
          background-color: #44546B;
        }
        &#quotidiano-youtube-link {
          background-color: #CD332C;
        }
        &#quotidiano-pinterest-link {
          background-color: #CA2128;
        }
        &#quotidiano-google-plus-link {
          background-color: #CC3731;
        }
        &#quotidiano-linkedin-link {
          background-color: #027BB5;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  #inner-content {
    text-align: left;
    .post-meta {
      width: 50%;
      position: relative;
      margin: 0 auto 50px;
      .author-photo {
        width: 20%;
        float: left;
        position: relative;
        text-align: center;
        img {
          border-radius: 96px;
        }
      }
      .post-info {
        width: 80%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h5 {
          @include cutive(20px, 400, $qblack, none);
          text-align: left;
          margin-bottom: 5px;
          line-height: 1.1;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .post-content {
      margin-bottom: 50px;
      text-align: left;
    }
    .post-footer {
      text-align: left;
    }
  }
}
blockquote {
  border-left: 0;
  position: relative;
  p {
    @include playfair(21px, 400, $qblack, none);
    font-style: italic;
    position: relative;
  }
  &:before {
    position: absolute;
    @include playfair(300px, 400, $medium-grey);
    top: -153px;
    left: 0;
    content: "\201C";
    display: block;
    opacity: .40;
  }
}
cite {
  font-size: 18px;
  color: $dark-grey;
}
pre, code {
  background-color: $off-black;
  color: $off-white;
  border: 0;
  padding: 3px;
}

/**
***************** A. 404 ************************
*/
.page-404 {
  .error-header {
    color: $off-white;
    text-align: center;
    width: 100%;
    display: inline-block;
    position: relative;
    &:after {
      padding-top: 39.10%;
      display: block;
      content: '';
    }
    .error-header-text-outer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($qblack, .5);
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      .error-page-title {
        @include roboto(50px, 700, $off-white, uppercase);
        border: 5px solid $off-white;
        display: inline-block;
        margin-bottom: 30px;
        padding: 0 10px;
      }
    }
  }
  .error-social-media-links {
    background-color: $off-black;
    height: 40px;
    padding: 5px 0;
    position: relative;
    margin-top: -7px;
    text-align: center;
    .social-links-inner {
      width: auto;
      position: relative;
      margin: auto;
      display: inline-block;
      .quotidiano-social-link {
        display: block;
        float: left;
        height: 30px;
        width: 30px;
        margin-right: 5px;
        overflow: hidden;
        img {
          width: 30px;
          height: auto;
        }
        &:hover {
          img {
            opacity: .7;
          }
        }
        &#quotidiano-facebook-link {
          background-color: #3B5998;
        }
        &#quotidiano-twitter-link {
          background-color: #29A7DF;
        }
        &#quotidiano-instagram-link {
          background-color: #326699;
        }
        &#quotidiano-tumblr-link {
          background-color: #44546B;
        }
        &#quotidiano-youtube-link {
          background-color: #CD332C;
        }
        &#quotidiano-pinterest-link {
          background-color: #CA2128;
        }
        &#quotidiano-google-plus-link {
          background-color: #CC3731;
        }
        &#quotidiano-linkedin-link {
          background-color: #027BB5;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  #inner-content {
    text-align: left;
    input.ng-valid, textarea.ng-valid {
      background-color: #ffffff;
    }
    .post-container {
      margin-left: 0;
      margin-right: 0;
      .post {
        border-radius: 5px;
        border: 1px solid $off-black;
        margin: 0 5px 10px;
        padding: 0;
        width: 19.1%;
        position: relative;
        &:hover {
          .post-overlay {
            display: block;
            background-color: rgba($qblack, .7);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            .day {
              @include cutive(73px, 400, $off-white, none);
              line-height: 1;
              margin-top: 5px;
            }
            .month {
              @include cutive(35px, 400, $off-white, none);
              line-height: 1;
            }
          }
        }
        img {
          border-radius: 4px;
        }
        .post-overlay {
          display: none;
        }
      }
    }
  }
}
@include breakpoint(medium only) {
  #content {
    .single-page {
      .social-media {
        display: none;
      }
      .post-header {
        .post-header-text-outer {
          .single-post-header-date {
            @include roboto(40px, 700, $off-white, uppercase);
            margin-bottom: 20px;
          }
          .single-post-header-title {
            @include cutive(30px, 400, $off-white, none);
          }
        }
      }
      #inner-content {
        padding: 50px 5%;
      }
    }
    .page-404 {
      .social-media {
        display: none;
      }
      .error-header {
        .error-header-text-outer {
          .error-page-title {
            @include roboto(40px, 700, $off-white, uppercase);
            margin-bottom: 20px;
          }
        }
      }
      #inner-content {
        padding: 50px 5%;
      }
    }
  }
}

@include breakpoint(small only) {
  #content {
    .single-page {
      .post-header {
        .post-header-text-outer {
          .single-post-header-date {
            @include roboto(30px, 700, $off-white, uppercase);
            margin-bottom: 20px;
          }
          .single-post-header-title {
            @include cutive(20px, 400, $off-white, none);
          }
        }
      }
      #inner-content {
        padding: 50px 5%;
      }
    }
    .page-404 {
      .social-media {
        display: none;
      }
      .error-header {
        .error-header-text-outer {
          .error-page-title {
            @include roboto(40px, 700, $off-white, uppercase);
            margin-bottom: 20px;
          }
        }
      }
      #inner-content {
        padding: 50px 5%;
      }
    }
  }
}