/**
* Blue Theme Styles
*
* @package ***Theme Name***
* @author Jacob Martella
* @version 1.0
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";

$light-purple: #F3DCF5;
$medium-purple: #C586D6;
$dark-purple: #8F4BAF;
$deep-purple: #3C024B;