/**
* Blue Theme Styles
*
* @package Quotidiano
* @author Jacob Martella
* @version 1.0
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";

$light-purple: #F3DCF5;
$medium-purple: #C586D6;
$dark-purple: #8F4BAF;
$deep-purple: #3C024B;

//* Default Styles
body {
  background-color: $light-purple;
}
.off-canvas-content {
  background-color: $light-purple;
}
h1, h2, h3, h4, h5, h6 {
  color: $deep-purple;
}
a, a:link, a:visited {
  color: $dark-purple;
}
a:hover {
  color: $deep-purple;
}
input,
select,
textarea,
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'] {
  border-color: $deep-purple;
  &:focus {
    border-color: $deep-purple;
    background-color: #F1E0FB;
  }
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button, .button {
  background-color: $medium-purple;
  &:hover {
    background-color: $dark-purple;
  }
}
input.ng-pristine, textarea.ng-pristine {
  border-color: $deep-purple;
}
input.ng-valid, textarea.ng-valid {
  background-color: #D9AEE3;
}
table {
  thead {
    tr {
      border-bottom: 1px solid $deep-purple;
    }
  }
  tbody {
    tr {
      border-top: 1px solid $deep-purple;
    }
  }
}
//* WordPress Styles
.bypostauthor {
  background-color: $light-purple;
}
.sticky {
  background-color: $light-purple; position: relative;
}
.aligncenter, .alignright, .alignleft, .alignnone {
  background-color: $medium-purple;
}
//* Header Styles
.social-media, .single .single-post-social-media-links, .single-page .single-post-social-media-links, .archive-template .archive-social-media-links, .page-404 .error-social-media-links {
  background-color: $deep-purple;
}

//* Home Styles
.home {
  #inner-content {
    .home-date {
      color: $deep-purple;
    }
    .post-container {
      .post {
        border: 1px solid $deep-purple;
      }
    }
  }
}

//* Single Post Styles
.single {
  #inner-content {
    .post-meta {
      .post-info {
        h5 {
          color: $deep-purple;
        }
      }
    }
  }
}
blockquote {
  &:before {
    color: $medium-purple;
  }
}
#inner-content {
  .post-comments {
    h3 {
      color: $deep-purple;
      border-bottom: 1px solid $deep-purple;
    }
    .comment-success {
      background-color: $dark-purple;
    }
    ul {
      li {
        list-style: none;
        margin-left: 0;
        h4 {
          color: $deep-purple;
        }
        h5 {
          color: $deep-purple;
        }
      }
    }
  }
}

//* Page Styles
.page-404 {
  #inner-content {
    text-align: left;
    input.ng-valid, textarea.ng-valid {
      background-color: #ffffff;
    }
  }
}

//* Archive Styles
.archive-template {
  #inner-content {
    .post-container {
      .post {
        border: 1px solid $deep-purple;
      }
    }
  }
}

//* Footer Styles
.footer {
  background-color: $deep-purple;
}