/**
* Single Post Styles
*
* @package ***Theme Name***
* @author Jacob Martella
* @version 1.0
*/
//* Define the variables to be used in this stylesheet
@import "settings";
@import "mixins";
 .single {
   .social-media {
     display: none;
   }
   .post-header {
     color: $off-white;
     text-align: center;
     width: 100%;
     display: inline-block;
     position: relative;
     &:after {
       padding-top: 39.10%;
       display: block;
       content: '';
     }
     .post-header-text-outer {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background-color: rgba($qblack, .5);
       display: flex;
       justify-content: center;
       flex-direction: column;
       text-align: center;
       .single-post-header-date {
         @include roboto(50px, 700, $off-white, uppercase);
         border: 5px solid $off-white;
         display: inline-block;
         margin-bottom: 30px;
         padding: 0 10px;
       }
       .single-post-header-title {
         @include cutive(40px, 400, $off-white, none);
       }
     }
   }
   #inner-content {
     text-align: left;
     .post-comments {
       ul {
         li {
           list-style: none;
         }
       }
     }
   }
 }
blockquote {
  border-left: 0;
  position: relative;
  p {
    @include playfair(21px, 400, $qblack, none);
    font-style: italic;
  }
  &:before {
    position: absolute;
    @include playfair(300px, 400, $medium-grey);
    top: -153px;
    left: 0;
    content: "\201C";
    display: block;
    opacity: .40;
  }
}
cite {
  font-size: 18px;
  color: $dark-grey;
}
pre, code {
  background-color: $off-black;
  color: $off-white;
  border: 0;
  padding: 3px;
}